pre-commit
black
sphinx
isort
mypy
gitlint
types-setuptools
pytest
debugpy
setuptools
git+ssh://git@github.com/eragnms/python_support.git@main
smhi_pkg
aiohttp
sphinx_rtd_theme
sphinx-autodoc-typehints
